{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <section>
        <article>
            <div class="container">
                <div class="card mb-3">
                    <div class="jumbotron">
                        <h1 class="display-3">Hello, world!</h1>
                        <h2 class="display-3">this is an about page !</h2>
                        <hr class="my-4">
                        <p>
                            It uses utility classes for typography and spacing to space content out within the larger container.
                        </p>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, iusto maxime nemo quia quos
                                voluptatibus. A, architecto culpa cumque dignissimos doloribus earum eos ex expedita, explicabo
                                facilis harum iste modi numquam odio quam quod similique sint tenetur unde veritatis. Explicabo?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock %}