{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
       <section>
           <article>
               <div class="container">
                   <h1 class="text-dark">{{ new.title }}</h1>
                   <img src="{{ new.image }}" alt="image">
                   <div class="content">
                       {{ new.content | raw}}
                   </div>
               </div>
           </article>
       </section>
    </div>
{% endblock %}